# Data Collections 2 (Dictionaries, Sets)

## Tasks Today:

1) Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring (key, value) <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Accessing Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #1 - Print the eye color of each person in a double nested dict <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Adding New Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Modifying Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Removing Key, Value Pairs <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) Looping a Dictionary <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Looping Only Keys <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Looping Only Values <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format()  <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) sorted() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Lists with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; k) Dictionaries with Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; l) Dictionaries with Dictionaries <br>
 &nbsp;&nbsp;&nbsp;&nbsp; ------ Exercise #3 - Write a Function that asks someone's name and address, and then stores that into a dictionary, which prints all names and addresses after they're done putting information in...  <br>
2) Dictionaries vs. Lists (over time)<br>
3) Set <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) .add() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .union() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .intersection() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .difference() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Frozen Set <br>

5) Exercises <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Address Book Program <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Best Times to Meet <br>

#### Warm Up

Given the list `address_book`, create a function that accepts a name (first or last or both) and returns the phone number of that name in the `address_book`. If the name is not in `address_book`, return -1.<br>

Ex. 1<br>
name = 'Hank'<br>
Expected Output: '(555) 555-1234'<br>

Ex. 2<br>
name = 'Tevin'<br>
Expected Output: '(333) 333-3245'<br>

Ex. 3<br>
name = 'Brian'<br>
Expected Output: -1<br>

In [11]:
address_book = [
    ('Hank', 'Mardukas', '123 Real Street', '(555) 555-1234'),
    ('Peter', 'Klaven', '321 Fake Street', '(555) 555-4321'),
    ('Sydney', 'Fife', '555 Santa Monica Drive', '(222) 222-6789'),
    ('Tevin', 'Downey', '100 Rodeo Blvd', '(333) 333-3245'),
    ('Zooey', '', '345 W 13th Ave', '(444) 345-3453')
]

def get_phone(name, book):
    for person in book:
        if person[0] == name:
            return person[3]
    return -1

new_book = [
    ('Brian', '', '', '(324) 235-2342')
]

print(get_phone('Hank', address_book))
print(get_phone('Tevin', address_book))
print(get_phone('Zooey', address_book))
print(get_phone('Brian', address_book))

(555) 555-1234
(333) 333-3245
(444) 345-3453
-1

In [4]:
get_phone('Hank')
get_phone('Tevin')
get_phone('Brian')

-1

## Dictionary <br>
<p>A collection of data with 'key:value' pairs. Dictionaries are ordered as of Python 3.6</p>

##### Declaring (key, value)

In [14]:
# Syntax: a_dict = {} or a_dict = dict() or a_dict = {'key': value, ...}

d_1 = {}
print(d_1)
print(type(d_1))

d_2 = dict()
print(d_2)
print(type(d_2))


d_3 = {
    'Hank': '123 Real Street',
    'Peter': '321 Fake Street',
    'Sydney': '555 Santa Monica Drive',
    'Tevin': '100 Rodeo Blvd'
}

print(d_3)
print(type(d_3))

{}
<class 'dict'>
{}
<class 'dict'>
{'Hank': '123 Real Street', 'Peter': '321 Fake Street', 'Sydney': '555 Santa Monica Drive', 'Tevin': '100 Rodeo Blvd'}
<class 'dict'>

##### Accessing Values

In [15]:
# dict[key]

d_3['Hank']

'123 Real Street'

In [16]:
d_3['Tevin']

'100 Rodeo Blvd'

In [17]:
d_3['Brian']

KeyError: 'Brian'

##### .get()

In [18]:
help(dict.get)

Help on method_descriptor:

get(self, key, default=None, /)
    Return the value for key if key is in the dictionary, else default.

In [24]:
# dict.get('key') or dict.get('key', value_if_no_key)

print(d_3.get('Peter'))
print(d_3.get('Brian'))
print(d_3.get('Brian', -1))

321 Fake Street
None
-1

In [29]:
my_address = d_3.get('Brian', 'No Address')
print(my_address)

No Address

## In-Class Exercise #1 - Print a formatted statement from the dictionary below <br>
<p>The output should be 'My favorite car is a 2018 Chevrolet Silverado'</p>

In [36]:
# use the dict below
truck = {
    'year': 2018,
    'make': 'Chevrolet',
    'model': 'Silverado'
}

print(f"My favorite car is a {truck['year']} {truck['make']} {truck['model']}")

My favorite car is a 2018 Chevrolet Silverado

##### Adding New Pairs

In [37]:
# dict[key] = value

d_3['Zooey'] = '151 Main Street'

d_3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Drive',
 'Tevin': '100 Rodeo Blvd',
 'Zooey': '151 Main Street'}

##### Modifying Values

In [39]:
# dict[key] = value

d_3['Zooey'] = '321 Fake Street'

d_3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Drive',
 'Tevin': '100 Rodeo Blvd',
 'Zooey': '321 Fake Street'}

In [40]:
d_3['zooey'] = '324 Cool Ave'
d_3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Drive',
 'Tevin': '100 Rodeo Blvd',
 'Zooey': '321 Fake Street',
 'zooey': '324 Cool Ave'}

##### Removing Key, Value Pairs

In [41]:
# del dict[key]
del d_3['Tevin']

d_3

{'Hank': '123 Real Street',
 'Peter': '321 Fake Street',
 'Sydney': '555 Santa Monica Drive',
 'Zooey': '321 Fake Street',
 'zooey': '324 Cool Ave'}

In [42]:
# Will throw KeyError if key does not exist in dictionary
del d_3['Tevin']

KeyError: 'Tevin'

##### Looping a Dictionary

In [52]:
# .items() -> list of tuples -> tuples => ('key', value)

a, b, c = 1, 2, 3
print(a)
print(b)
print(c)

    
for x in d_3.items():
    print(x)
    print(type(x))

1
2
3
('Hank', '123 Real Street')
<class 'tuple'>
('Peter', '321 Fake Street')
<class 'tuple'>
('Sydney', '555 Santa Monica Drive')
<class 'tuple'>
('Zooey', '321 Fake Street')
<class 'tuple'>
('zooey', '324 Cool Ave')
<class 'tuple'>

In [55]:
for key, value in d_3.items():
    print(f'Key: {key} - Value: {value}')

Key: Hank - Value: 123 Real Street
Key: Peter - Value: 321 Fake Street
Key: Sydney - Value: 555 Santa Monica Drive
Key: Zooey - Value: 321 Fake Street
Key: zooey - Value: 324 Cool Ave

##### Looping Only Keys

In [57]:
# .keys()
# for i in d_3:
#     print(i)
d_3.keys()

for k in d_3.keys():
    print(k)

Hank
Peter
Sydney
Zooey
zooey

In [58]:
for i in d_3:
    print(i)

Hank
Peter
Sydney
Zooey
zooey

##### Looping Only Values

In [60]:
# .values()

d_3.values()

for v in d_3.values():
    print(v)

123 Real Street
321 Fake Street
555 Santa Monica Drive
321 Fake Street
324 Cool Ave

In [62]:
for k in d_3.keys():
    print(k, d_3[k])

Hank 123 Real Street
Peter 321 Fake Street
Sydney 555 Santa Monica Drive
Zooey 321 Fake Street
zooey 324 Cool Ave

## In-Class Exercise #2 - Create a Function that Prints All Key Value Pairs within a print .format() <br>
<p><b>Output should be:</b><br>
Max has blue eyes<br>
Lilly has brown eyes<br>
Barney has blue eyes<br>
etc.
</p>

In [67]:
# use the dict below

people = {
    'Max': 'blue',
    'Lilly': 'brown',
    'Barney': 'blue',
    'Larney': 'brown',
    'Ted': 'purple'
}

def print_eyes(a_dict):
    for key, value in a_dict.items():
        print(f"{key} has {value} eyes")
    print('')
    for k in a_dict.keys():
        print(f"{k} has {a_dict[k]} eyes")
        
        
print_eyes(people)

Max has blue eyes
Lilly has brown eyes
Barney has blue eyes
Larney has brown eyes
Ted has purple eyes

Max has blue eyes
Lilly has brown eyes
Barney has blue eyes
Larney has brown eyes
Ted has purple eyes

##### sorted()

In [73]:
# sorts variables in order
# sorted(dict.values()) or dict.keys() or dict.items()

print(sorted(people.items()))
print(sorted(people.keys()))
print(sorted(people.values()))
print(sorted(people))

[('Barney', 'blue'), ('Larney', 'brown'), ('Lilly', 'brown'), ('Max', 'blue'), ('Ted', 'purple')]
['Barney', 'Larney', 'Lilly', 'Max', 'Ted']
['blue', 'blue', 'brown', 'brown', 'purple']
['Barney', 'Larney', 'Lilly', 'Max', 'Ted']

##### List with Dictionaries

In [78]:
a_list = ['Hello', 'Goodbye', {'name': 'Ted', 'age': 22}]

print(a_list)
print(a_list[2])
print(type(a_list[2]))

print(a_list[2]['age'])

['Hello', 'Goodbye', {'name': 'Ted', 'age': 22}]
{'name': 'Ted', 'age': 22}
<class 'dict'>
22

In [79]:
a_list[2]['height'] = "6'0"

print(a_list)

['Hello', 'Goodbye', {'name': 'Ted', 'age': 22, 'height': "6'0"}]

##### List of Dictionaries

In [88]:
movies = [
    {'title': 'Inception', 'director': 'Christopher Nolan', 'release_year': 2010},
    {'title': 'The Social Network', 'director': 'David Fincher', 'release_year': 2010},
    {'title': 'The Departed', 'director': 'Martin Scorsese', 'release_year': 2006},
    {'title': 'Parasite', 'director': 'Bong Joon Ho', 'release_year': 2019}
]

print(movies)

[{'title': 'Inception', 'director': 'Christopher Nolan', 'release_year': 2010}, {'title': 'The Social Network', 'director': 'David Fincher', 'release_year': 2010}, {'title': 'The Departed', 'director': 'Martin Scorsese', 'release_year': 2006}, {'title': 'Parasite', 'director': 'Bong Joon Ho', 'release_year': 2019}]

In [87]:
for m in movies:
    print(m['title'])

Inception
The Social Network
The Departed
Parasite

##### Dictionaries with Lists

In [91]:
# be careful when using numbers as keys in dictionaries, don't confuse them with indexes
random_data = {
    'list1': [54, 33, 22, 66, 234],
    2: ['blue', 'green', 'orange']
}


print(random_data['list1'])
print(type(random_data['list1']))

[54, 33, 22, 66, 234]
<class 'list'>

In [94]:
print(random_data[2])
print(type(random_data[2]))
random_data[2].append('pink')
print(random_data)

['blue', 'green', 'orange']
<class 'list'>
{'list1': [54, 33, 22, 66, 234], 2: ['blue', 'green', 'orange', 'pink']}

##### Dictionaries with Dictionaries

In [101]:
# to get values, must traverse through keys
my_shoppe = {
    'ice_cream': {
        'vanilla': 2.99,
        'chocolate': 2.99,
        'oreo': 3.49
    },
    'milkshake': {
        'vanilla': 3.99,
        'chocolate': 3.99,
        'oreo': 4.49
    }
}

print(my_shoppe['ice_cream']['oreo'])
print(type(my_shoppe['ice_cream']['oreo']))

3.49
<class 'float'>

In [100]:
my_shoppe['ice_cream'].keys()

dict_keys(['vanilla', 'chocolate', 'oreo'])

In [102]:
print(my_shoppe['milkshake']['chocolate'])

3.99

In [103]:
job_app = {
    'full_name': 'Jimmy Smith',
    'email': 'jsmith@email.com',
    'prog_languages': [
        {
            'name': 'Python',
            'proficiency': 8
        },
        {
            'name': 'JavaScript',
            'proficiency': 5
        }
    ],
    'experience': [
        {
            'company': 'Omnicorp',
            'position': 'bossman',
            'years_at_company': [2010, 2011, 2012, 2013]
        },
        {
            'company': 'AlphaInc',
            'position': 'QA Tester',
            'years_at_company': [2014, 2015, 2016]
        }
    ],
    'citizen': True
}


print(job_app)

{'full_name': 'Jimmy Smith', 'email': 'jsmith@email.com', 'prog_languages': [{'name': 'Python', 'proficiency': 8}, {'name': 'JavaScript', 'proficiency': 5}], 'experience': [{'company': 'Omnicorp', 'position': 'bossman', 'years_at_company': [2010, 2011, 2012, 2013]}, {'company': 'AlphaInc', 'position': 'QA Tester', 'years_at_company': [2014, 2015, 2016]}], 'citizen': True}

In [107]:
print(job_app['prog_languages'][0]['proficiency'])

8

In [112]:
# How many years did Jimmy Smith work at AlphaInc?
len(job_app['experience'][1]['years_at_company'])

3

## Dictionaries vs. Lists (over time) Example of RUNTIME
### When inputting values in a Dictionary vs List

In [115]:
import time


# generate fake dictionary
d = {}

for i in range(10000000):
    d[i] = 'value'
    

# generate fake list
big_list = [x for x in range(10000000)]

In [152]:
# tracking time for set
start_time = time.time()

print(9999999 in d)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for dictionary: {elapsed_time}')


# tracking time for list
start_time = time.time()

print(9999999 in big_list)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for list: {elapsed_time}')

True
Elapsed time for dictionary: 0.0
True
Elapsed time for list: 0.2004995346069336

## Set <br>
<p>A Set is an unordered collection data type that is iterable (loop), mutable, and has no duplicate elements.<br>Major advantage is that it is highly optimized in checking if something is in the set, as opposed to checking if something is in a list.</p>

##### Declaring

In [153]:
# set() or {,}
set1 = set()
print(set1)
print(type(set1))

set()
<class 'set'>

In [154]:
set2 = {}
print(set2)
print(type(set2))

{}
<class 'dict'>

In [155]:
nums = {4, 1, 6, 4}
print(nums)
print(type(nums))

{1, 4, 6}
<class 'set'>

In [158]:
set([1, 2, 3, 3, 3, 3, 3, 4, 4, 4])

{1, 2, 3, 4}

##### .add()

In [165]:
# set.add(value_to_add)

nums.add(56)

print(nums)

{56, 1, 4, 6}

##### .remove()

In [166]:
# set.remove(value_to_remove)

nums.remove(56)
print(nums)

{1, 4, 6}

In [167]:
for item in nums:
    print(item)

1
4
6

##### .union()

In [168]:
s1 = {1, 2, 3, 4}
s2 = {3, 4, 5, 6}

In [172]:
# Returns a union of two sets, can also use '|' or set.union(set)
# joins all numbers, gets rid of duplicates

s3 = s2.union(s1)
print(s3)

# OR

s4 = s1 | s2
print(s4)

{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6}

##### .intersection()

In [174]:
# Returns an intersection of two sets, can also use '&'
# only takes similar elements from both sets

s5 = s1.intersection(s2)
print(s5)

s6 = s2 & s1
print(s6)

{3, 4}
{3, 4}

##### .difference()

In [176]:
# Returns a set containing all the elements of invoking set that are not in the second set, can also use '-'
# only takes values from the first set that are not in the second set
# order matters

s7 = s1.difference(s2)
print(s7)


s8 = s2.difference(s1)
print(s8)

{1, 2}
{5, 6}

In [178]:
s9 = s1 - s2
print(s9)

s10 = s2 - s1
print(s10)

{1, 2}
{5, 6}

##### .symmetric_difference()

In [183]:
# The elements that are in only ONE of the sets *Opposite of intersection*
# can also use the '^' operator as well

s11 = s1.symmetric_difference(s2)
print(s11)

s12 = s1 ^ s2
print(s12)

{1, 2, 5, 6}
{1, 2, 5, 6}

##### .clear()

In [185]:
# Empties the whole set
# set.clear()
nums.clear()

print(nums)

set()

In [199]:
type(nums)
print(nums)

set()

In [186]:
import time
# generate fake set
big_set = {i for i in range(10000000)}
    

# generate fake list
big_list = [x for x in range(10000000)]

In [192]:
# tracking time for set
start_time = time.time()

print(9999999 in big_set)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for set: {elapsed_time}')


# tracking time for list
start_time = time.time()

print(9999999 in big_list)

end_time = time.time()

elapsed_time = end_time - start_time

print(f'Elapsed time for list: {elapsed_time}')

True
Elapsed time for set: 0.0009930133819580078
True
Elapsed time for list: 0.18400096893310547

##### Frozenset <br>
<p>Frozen sets are immutable objects that only support methods and operators that produce a result without affecting the frozen set or sets to which they are applied.</p><br><b>Unique & Immutable</b>

In [195]:
# frozenset(*iterable*)
my_frozen_set = frozenset([1, 2, 2, 2, 3, 56])

print(my_frozen_set)

for i in my_frozen_set:
    print(i)

frozenset({56, 1, 2, 3})
56
1
2
3

In [196]:
my_frozen_set.add(43)

AttributeError: 'frozenset' object has no attribute 'add'

In [197]:
help(frozenset)

Help on class frozenset in module builtins:

class frozenset(object)
 |  frozenset() -> empty frozenset object
 |  frozenset(iterable) -> frozenset object
 |
 |  Build an immutable unordered collection of unique elements.
 |
 |  Methods defined here:
 |
 |  __and__(self, value, /)
 |      Return self&value.
 |
 |  __contains__(...)
 |      x.__contains__(y) <==> y in x.
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __or__(self, value, /)
 |      Return self|value.
 |
 |  __rand__(self, value, /)
 |      Return value&self.
 |
 |  __reduce__(...)
 |      Return state information for pickling.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __ror__(self, value, /)
 |      Return value|self.
 |
 |  __rsub__(self, value, /)
 |      Return value-self.
 |
 |  __rxor__(self, value, /)
 |      Return value^self.
 |
 |  __sizeof__(...)
 |      S.__sizeof__() -> size of S in memory, in bytes
 |
 |  __sub__(self, value, /)
 |      Return self-value.
 |
 |  __xor__(self, value, /)
 |      Return self^value.
 |
 |  copy(...)
 |      Return a shallow copy of a set.
 |
 |  difference(...)
 |      Return the difference of two or more sets as a new set.
 |
 |      (i.e. all elements that are in this set but not the others.)
 |
 |  intersection(...)
 |      Return the intersection of two sets as a new set.
 |
 |      (i.e. all elements that are in both sets.)
 |
 |  isdisjoint(...)
 |      Return True if two sets have a null intersection.
 |
 |  issubset(...)
 |      Report whether another set contains this set.
 |
 |  issuperset(...)
 |      Report whether this set contains another set.
 |
 |  symmetric_difference(...)
 |      Return the symmetric difference of two sets as a new set.
 |
 |      (i.e. all elements that are in exactly one of the sets.)
 |
 |  union(...)
 |      Return the union of sets as a new set.
 |
 |      (i.e. all elements that are in either set.)
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.

# Exercises

### 1) Create a program that allows a user to continue to add people to an address book until the user quits. Once the user quits, break out of the loop and print out the name and address of everyone in the address book

###### Steps
1. Create a function that will ask user for name and addresses and stores them in a dictionary
2. Define an empty dictionary with which to work (global or local variable?)
3. Begin a loop that will continue to ask a user for information until the user "quits"
4. If the user does not quit, ask for a name and address and store the values into variables
5. Add information to the dictionary with name as the key and address as the value
6. If the user does quit, end the loop
7. Print out the information from the dictionary in a formatted way
8. Execute/Call the function

In [201]:
from IPython.display import clear_output

### 2) Best Time to Meet

Billy is trying to figure out if there is a time that he and his team can meet to work on the project. His three teammates each give him a list of times they are available ('HH:MM' 24-hour). Create a function that will take in the list of all the teammates and return a list of times where everyone can meet.

In [3]:
billy_times = ['09:00', '10:30', '11:30', '12:00', '13:00', '14:30']
teammate_1 = ['09:30', '10:00', '10:30', '12:00', '14:30', '16:00']
teammate_2 = ['09:00', '09:30', '11:00', '11:30', '12:00', '13:30', '14:30', '15:00']
teammate_3 = ['11:00', '11:30', '12:00', '14:00', '14:30', '16:30', '17:00']
# Available Times: '12:00' and '14:30'